{% extends "layout.html" %} {% block title %}{{ sitetitle }}{% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %}

<div class="container">
  <div class="row p-3">
    <div class="display-3">API Test</div>
    <hr />
    <h3>Play with the form to see how the API works!</h3>

    <!-- <form method="GET" id="formy" name="mathform" class="pt-2 needs-validation" novalidate> -->
    <form action="">
      <div class="form-group">
        <div class="row g-3">
          <div class="input-group" id="pathgr">
            <span class="input-group-text">Path</span>
            <select onchange="fixFunctions()" name="p" id="path" form="formy" placeholder="/classpect/" type="text" aria-label="Path" value="" class="form-control">
              {% for method in paths %}
              <option value="{{method}}">/api/v1/classpects{{method}}</option>{% endfor %}
            </select>
          </div>
          <label class="small my-0 text-muted" id="legend" for="Path">Method for accessing a single Classpect's data.</label>

          <div class="input-group" id="fngr">
            <span class="input-group-text">Function</span>
            <select name="f" id="func" form="formy" placeholder="function()" type="text" aria-label="Function" value="" class="form-control" list="methodlist">
              {% for method in methods %}
              <option value="{{method}}">{{method}}</option>{% endfor %}
            </select>
          </div>
          <span id="funcreq" style="display: none;" class="form-text">
            Required.
          </span>
          <div id="cspectSecret">
            <div class="input-group" id="namegr">
              <span class="input-group-text">Name</span>
              <input name="c" id="name" form="formy" placeholder="Seer, Void, Ranger, Soma" type="text" aria-label="Name" value="Seer" class="form-control" onkeypress="checkenter(e)" />
            </div>
            <span id="namereq" class="form-text">
              Required.
            </span>
            <div class="input-group" id="typegr">
              <span class="input-group-text">Type</span>
              <select name="f" id="type" form="formy" placeholder="class or aspect" type="text" aria-label="Type" value="Class" class="form-control">
                <option value="class">Class</option>
                <option value="aspect">Aspect</option>
              </select>
            </div>
            <span id="typereq" class="form-text">
              Required.
            </span>
          </div>
          <div class="form-check" id="dualsgr" style="display: none;">
            <input class="form-check-input" type="checkbox" value="" id="dualscheck" onkeypress="checkenter(event)">
            <label class="form-check-label" for="dualscheck">
              Get Duals instead
            </label>
          </div>
          <div id="mathsecret" style="display: none;">
            <div class="input-group" id="mnamegr">
              <span class="input-group-text">Math Name</span>
              <input name="c" id="mname" form="formy" placeholder="seer, void, ranger, soma" type="text" aria-label="Name" value="Mage" class="form-control" onkeypress="checkenter(e)" />
            </div>
            <span id="mnamereq" class="form-text">
              Required.
            </span>

            <div class="input-group" id="mtypegr">
              <span class="input-group-text">Math Type</span>
              <select name="f" id="mtype" form="formy" placeholder="class or aspect" type="text" aria-label="Type" value="" class="form-control">
                <option value="class">Class</option>
                <option value="aspect">Aspect</option>
              </select>
            </div>
            <span id="mtypereq" class="form-text">
              Required.
            </span>
          </div>
          <a onclick="loadAPIExample()" id="apiinteract" class="btn btn-primary">
            Get info!
          </a>
          <div class="invalid-feedback">
            Please provide either a Class or an Aspect, then try again!
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- </form> -->
  <p><span class="fw-bold">Method:</span><br>
    <span id="methoddisplay">Use the API, <span style="font-family: Comic Sans MS">dunkass... <small>aha.....</small></span></span>
  </p>
  <p><span class="fw-bold">Result:</span><br>
    <span id="fillme">
      See above
    </span>
  </p>
  <!-- <p>List of functions: {{methods}}</p> -->
</div>
</div>
<script>

  // function remVal(element, wanted) {
  //   if ((element.firstChild.value = "") && wanted) {
  //     // It has at least one

  //   }
  // }
  const checkbox = document.getElementById('dualscheck')

  checkbox.addEventListener('change', (event) => {
    if (event.currentTarget.checked) {
      checkbox.value = true;
    } else {
      checkbox.value = false;
    }
  })

  const paths = {{ paths | safe }}
  const methods = {{ methods | safe }}
  const path = document.getElementById("path")
  const func = document.getElementById("func")
  const namereq = document.getElementById("namereq")
  const funcreq = document.getElementById("funcreq")
  const cspectSecret = document.getElementById("cspectSecret")
  const typereq = document.getElementById("typereq")
  const mathsecret = document.getElementById("mathsecret")
  const type = document.getElementById("type")
  const legend = document.getElementById("legend")
  const name = document.getElementById("name")
  const mname = document.getElementById("mname")
  const mtype = document.getElementById("mtype")
  const fngr = document.getElementById("fngr")
  const namegr = document.getElementById("namegr")
  const dualsgr = document.getElementById("dualsgr")
  const dualscheck = document.getElementById("dualscheck")
  const methoddisplay = document.getElementById("methoddisplay")
  const fillme = document.getElementById("fillme")


  name.onkeypress = function (e) {
    if (!e) e = window.event;
    var keyCode = e.code || e.key;
    if (keyCode == 'Enter') {
      // Enter pressed
      loadAPIExample()
    }
  }

  mname.onkeypress = function (e) {
    if (!e) e = window.event;
    var keyCode = e.code || e.key;
    if (keyCode == 'Enter') {
      // Enter pressed
      loadAPIExample()
    }
  }

  type.onkeypress = function (e) {
    if (!e) e = window.event;
    var keyCode = e.code || e.key;
    if (keyCode == 'Enter') {
      // Enter pressed
      loadAPIExample()
    }
  }

  mtype.onkeypress = function (e) {
    if (!e) e = window.event;
    var keyCode = e.code || e.key;
    if (keyCode == 'Enter') {
      // Enter pressed
      loadAPIExample()
    }
  }

  func.onkeypress = function (e) {
    if (!e) e = window.event;
    var keyCode = e.code || e.key;
    if (keyCode == 'Enter') {
      // Enter pressed
      loadAPIExample()
    }
  }

  var newURL = func.value + "?name=" + name.value + "&type=" + type.value;
  function fixFunctions() {
    if (path.value == "/classpect/") {
      newURL = func.value + "?name=" + name.value + "&type=" + type.value;
      fngr.style.display = "flex"
      namegr.style.display = "flex"
      namereq.style.display = "block"
      typereq.style.display = "block"
      mathsecret.style.display = "none"
      funcreq.style.display = "none"
      dualsgr.style.display = "none"
      for (let i = 0; i < type.children.length; i++) {
        if (type.children[i].value == "") {
          type.removeChild(type.children[i])
        }
      }
      if (func.children.length != methods.length) {
        func.innerHTML = ''
        for (let i = 0; i < methods.length; i++) {
          func.innerHTML += "<option value='" + methods[i] + "'>" + methods[i] + "</option>"
        }
      }

      // if (mathsecret.children[0].id != "mnamegr") {
      //   tempName = name.value
      //   tempType = type.value
      //   tempFunc = func.value
      //   temp = cspectSecret.innerHTML
      //   cspectSecret.innerHTML = mathsecret.innerHTML
      //   mathsecret.innerHTML = temp 
      //   name.value = tempName
      //   type.value = tempType
      //   func.value = tempFunc
      // }
      legend.innerHTML = "Method for accessing a single Classpect's data."
    }
    else if (path.value == "/") {
      newURL = "?duals=" + dualscheck.value + "&type=" + type.value;
      legend.innerHTML = "Method for retrieving bulk Classpect data, e.g. names.<br> All params are optional, default behavior is to retrieve all canon classpects as a dictionary."
      fngr.style.display = "none"
      namegr.style.display = "none"
      namereq.style.display = "none"
      typereq.style.display = "none"
      dualsgr.style.display = "block"
      funcreq.style.display = "none"
      mathsecret.style.display = "none"
      // if (mathsecret.children[0].id != "mnamegr") {
      //   temp = cspectSecret.innerHTML
      //   cspectSecret.innerHTML = mathsecret.innerHTML
      //   mathsecret.innerHTML = temp
      // }


      addit = true
      for (let i = 0; i < type.children.length; i++) {
        if (type.children[i].value == "") {
          addit = false
        }
      }

      if (addit) {
        type.innerHTML = '<option value=""></option>' + type.innerHTML
      }

    }
    else if (path.value == "/calc/") {
      newURL = func.value + "?name=" + name.value + "&type=" + type.value + "&mname=" + mname.value + "&mtype=" + mtype.value;

      mathsecret.style.removeProperty("display")
      fngr.style.display = "flex"
      legend.innerHTML = "Method for using the Classpect Calculator."
      namegr.style.display = "flex"
      namereq.style.display = "block"
      typereq.style.display = "block"
      funcreq.style.removeProperty("display")
      dualsgr.style.display = "none"
      for (let i = 0; i < type.children.length; i++) {
        if (type.children[i].value == "") {
          type.removeChild(type.children[i])
        }
      }
      // if (mathsecret.children[0].id == "mnamegr") {
      //   tempName = name.value
      //   tempType = type.value
      //   tempFunc = func.value
      //   temp = cspectSecret.innerHTML
      //   cspectSecret.innerHTML = mathsecret.innerHTML
      //   mathsecret.innerHTML = temp 
      //   name.value = tempName
      //   type.value = tempType
      //   func.value = tempFunc
      // }

      if ((func.children.length) != ["+", "-", "*"].length) {
        func.innerHTML = ""
        for (let i = 0; i < ["+", "-", "*"].length; i++) {
          func.innerHTML += "<option value='" + ["add", "sub", "mul"][i] + "'>" + ["+", "-", "*"][i] + "</option>"
        }
      }
    }
    else {
      throw "What?"
    }

  }

  function loadAPIExample() {
    fixFunctions()
    var baseURL = '{{url_for("api_page")}}' + "v1/classpects" + path.value
    var assembledURL = baseURL + newURL
    methoddisplay.innerHTML = assembledURL;
    loadAPI(assembledURL);
  }

  function loadAPI(url) {
    // Create a request variable and assign a new XMLHttpRequest object to it.
    var request = new XMLHttpRequest()
    console.log(url)
    // Open a new connection, using the GET request on the URL endpoint
    request.open('GET', url, true)

    request.onload = function () {
      console.log(this.response)
      // var data = JSON.parse(this.response)
      // console.log(data)
      // Begin accessing JSON data here
      fillme.innerHTML = this.response
    }
    // Send request
    request.send()
  }
</script>
{% endblock %}