{% extends "layout.html" %}

{% block title %}{{ sitetitle }}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container">

<div class="row  p-3">

<div class="col">
  <p><strong>Normals: </strong></br>
        {% for i in normals %}
            {{ i | e }}</br>
        {% endfor %}
        </p>
</div>
<div class="col">
<p><strong>Duals: </strong></br>
        {% for i in duals %}
            {{ i | e }}</br>
        {% endfor %}
        </p>
</div>
<div class="row p-3 pb-1">        <a href="javascript:window.location.reload(true/false);"><button type="button" class="btn btn-primary btn-lg">Reroll<i class="bi bi-dice-5"></i></button></a>
</div>
</div>
{% endblock %}